package seeders

import (
	"log"

	"github.com/farkhanisturkia/gohan"
	"{{ .ModuleName }}/database/migrations"
)

func {{.Prefix}}Seeder(db *gohan.DB) {
	var existing{{.Prefix}}s []migrations.{{.Prefix}}
	if err := db.FindAll(&existing{{.Prefix}}s); err == nil && len(existing{{.Prefix}}s) > 0 {
		log.Println("[info] {{.Prefix}} seeder skipped: Data already exists")
		return
	}

    {{.Prefix}}s := []migrations.{{.Prefix}}{
        {
            ID: 1,
        },
    }

	for _, {{.Prefix}} := range {{.Prefix}}s {
		if err := db.Create(&{{.Prefix}}); err != nil {
			log.Printf("[error] Failed to seed {{.Prefix}} (%s): %v\n", {{.Prefix}}.ID, err)
		}
	}

	log.Println("[info] {{.Prefix}} seeder successfully executed")
}