package seeders

import (
	"log"

	"github.com/farkhanisturkia/gohan"
	"{{ .ModuleName }}/database/migrations"
)

func {{.Prefix}}Seeder(db *gohan.DB) {
	var existing{{.Prefix}}s []migrations.{{.Prefix}}
	if err := db.FindAll(&existing{{.Prefix}}s); err == nil && len(existing{{.Prefix}}s) > 0 {
		log.Println("[info] {{.Prefix}} seeder skipped: Data already exists")
		return
	}

	hashedPassword, err := gohan.HashPassword("password")
    if err != nil {
        log.Fatalf("[error] Failed to hash password: %v\n", err)
    }

    {{.Prefix}}s := []migrations.{{.Prefix}}{
        {
            Name:     "Admin",
            Email:    "admin@example.com",
            Password: hashedPassword,
        },
    }

	for _, {{.Prefix}} := range {{.Prefix}}s {
		if err := db.Create(&{{.Prefix}}); err != nil {
			log.Printf("[error] Failed to seed {{.Prefix}} (%s): %v\n", {{.Prefix}}.Email, err)
		}
	}

	log.Println("[info] {{.Prefix}} seeder successfully executed")
}