# App configuration
APP_NAME=GohanApp
APP_ENV=local
APP_KEY=
APP_PORT=8080

# Choose DB_DRIVER: mysql | postgres | sqlite
DB_DRIVER=sqlite

# MySQL / Postgres Configuration
DB_HOST=127.0.0.1
DB_PORT=3306        // set (5432) for postgres
DB_USER=root        // set (postgres) for postgres
DB_PASSWORD=        // set (postgres) for postgres
DB_NAME=gohan_db

# SQLite Configuration
DB_FILE=gohan.db

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=24h

# Mailer Configuration (Default: log / SMTP / Mailjet / Mailtrap / SendGrid)
MAIL_DRIVER=log

# SMTP / Mailjet / Mailtrap /SendGrid Configuration
MAIL_HOST=in-v3.mailjet.com
MAIL_PORT=587
MAIL_USERNAME=your_mailjet_api_key
MAIL_PASSWORD=your_mailjet_secret_key
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply.gohan@msroot.my.id
MAIL_FROM_NAME="${APP_NAME}"

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=