import { HttpInterceptorFn } from '@angular/common/http'
import Cookies from 'js-cookie'

export const authInterceptor: HttpInterceptorFn = (req, next) => {
  const token = Cookies.get('token')

  const authReq = token
    ? req.clone({ setHeaders: { Authorization: `Bearer ${token}` } })
    : req

  return next(authReq)
}
