package migrations

import (
	"log"
    "time"

	"github.com/farkhanisturkia/gohan"
)

type Role struct {
    ID        int       `gohan:"primary_key" json:"id"`
    Name      string    `gohan:"type:VARCHAR(100);unique;not_null" json:"name"`
    CreatedAt time.Time `gohan:"type:TIMESTAMP;not_null;default:CURRENT_TIMESTAMP" json:"created_at"`
}

func RoleMigration(db *gohan.DB) {
	if err := db.SetTable(&Role{}); err != nil {
		log.Printf("[error] Failed to migrate the Role table: %v\n", err)
	}
}