package migrations

import (
	"log"
	"time"

	"github.com/farkhanisturkia/gohan"
)

type PasswordReset struct {
    ID        int       `gohan:"primary_key" json:"id"`
    Email     string    `gohan:"type:VARCHAR(150);not_null" json:"email"`
    Token     string    `gohan:"type:VARCHAR(255);not_null" json:"token"`
    CreatedAt time.Time `gohan:"type:DATETIME;not_null" json:"created_at"`
}

func PasswordResetMigration(db *gohan.DB) {
	if err := db.SetTable(&PasswordReset{}); err != nil {
		log.Printf("[error] Failed to migrate PasswordReset table: %v\n", err)
	}
}