package migrations

import "github.com/farkhanisturkia/gohan"

func SetMigrations(db *gohan.DB) {
    UserMigration(db)
{{- if and .UseAuth (eq .AuthType "pat") }}
    PersonalAccessTokenMigration(db)
{{- end }}
{{- if and .UseAuth .UseForgotPassword }}
    PasswordResetMigration(db)
{{- end }}
{{- if and .UseAuth .UseRole }}
	RoleMigration(db)
{{- end }}
}