package migrations

import (
	"log"
	"time"

	"github.com/farkhanisturkia/gohan"
)

type PersonalAccessToken struct {
	ID        int       `gohan:"primary_key" json:"id"`
	UserID    int       `gohan:"type:INT;not_null" json:"user_id"`
	Name      string    `gohan:"type:VARCHAR(100);not_null" json:"name"`
	Token     string    `gohan:"type:VARCHAR(255);unique;not_null" json:"token"`
	IPAddress string    `gohan:"type:VARCHAR(45)" json:"ip_address"`
	UserAgent string    `gohan:"type:TEXT" json:"user_agent"`
	ExpiresAt time.Time `gohan:"type:DATETIME;not_null" json:"expires_at"`
	CreatedAt time.Time `gohan:"type:DATETIME;not_null" json:"created_at"`
}

func PersonalAccessTokenMigration(db *gohan.DB) {
	if err := db.SetTable(&PersonalAccessToken{}); err != nil {
		log.Printf("[error] Failed to migrate PersonalAccessToken table: %v\n", err)
	}
}