{
  "app_name": "{{ .ModuleName }}",
  "app_type": "{{ .AppType }}",
  "app_specs": {
    "auth": {{ .UseAuth }},
    "auth_type": "{{ .AuthType }}",
    "rbac": {{ .UseRole }},
    "redis": {{ .UseRedis }}
  }
}