package seeders

import (
	"log"

	"github.com/farkhanisturkia/gohan"
	"{{ .ModuleName }}/database/migrations"
)

func RoleSeeder(db *gohan.DB) {
	roles := []string{"user", "admin"}

	for _, roleName := range roles {
		var existingRole migrations.Role
		if err := db.FindOne(&existingRole, "name = ?", roleName); err == nil {
			log.Printf("[info] Role '%s' already exists, skipping...\n", roleName)
			continue
		}

		newRole := migrations.Role{Name: roleName}
		if err := db.Create(&newRole); err != nil {
			log.Printf("[error] Failed to seed role (%s): %v\n", roleName, err)
		} else {
			log.Printf("[info] Role '%s' successfully seeded\n", roleName)
		}
	}
}