package seeders

import (
	"log"

	"github.com/farkhanisturkia/gohan"
	"{{ .ModuleName }}/database/migrations"
)

func UserSeeder(db *gohan.DB) {
	var existingUsers []migrations.User
	if err := db.FindAll(&existingUsers); err == nil && len(existingUsers) > 0 {
		log.Println("[info] User seeder skipped: Data already exists")
		return
	}

	hashedPassword, err := gohan.HashPassword("password")
    if err != nil {
        log.Fatalf("[error] Failed to hash password: %v\n", err)
    }

    users := []migrations.User{
        {
            Name:     "User",
            Email:    "user@example.com",
            Password: hashedPassword,
        },
    }

	for _, user := range users {
		if err := db.Create(&user); err != nil {
			log.Printf("[error] Failed to seed user (%s): %v\n", user.Email, err)
		}
	}

	log.Println("[info] User seeder successfully executed")
}